* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat',sans-serif;
	padding-bottom: 5px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Montserrat';
}

.post-title {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 5px 10px 0;
    line-height: 16px;
}

.post-date {
	font-family: 'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
	margin: -2px 10px 5px;
    display: block;
}

.post {	
    background-color: #1A1A1A;
    border: 1px solid #343536;
    font-size: 14px;
    line-height: 16px;
    background-repeat: repeat-x;
    padding: 8px 10px 10px;
	margin: 0;
}

.hentry {
    background-color: #111;
    margin-top: 10px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}


.comment-date {
    position: absolute;
	right: 0px;
    color: #b71c1c;
    padding: 10px;
	flex-direction: column;
	font-size: 75%;
}

.login-navbar {
	position: absolute;
	right: 0px;
    color: #b71c1c;
	flex-direction: column;
	font-size: 100%;
}

.page-header {
    background-color: #CC0000;
    margin-top: 0;
    padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #00CCCC;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #00CCCC;
    float: left;
    font-size: 25pt;
	margin-top: 10px;
    margin-left: 25px;
}

.post {
    margin-bottom: 100px;
}

.post h2 a, .post h2 a:visited {
    color: #FFFFFF;
}

.comment {
    margin: 20px 0px 20px 20px;
}

body {
		background-color: #181818; 
		color: #909090;
}