{% load static %}
<html>
    <head>
		<link href="//fonts.googleapis.com/css?family=Montserrat&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">     
		<title>Dalin</title>
    
    
        <div class="page-header">
		 <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">    
                <h1 ><a style="color:7B68EE;" href="/">Petre Leonid-Dalin</a></h1>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li><a href="/"	class="top-menu"><span class="glyphicon glyphicon-home"></span></a></li>
                  <li> <a href="{% url 'post_new' %}"	class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
					<li><a href="{% url 'post_draft_list' %}"	class="top-menu"><span class="glyphicon glyphicon-edit"></span></a></li>
                </ul>
				<div class="login-navbar">
					<em>Greetings, {{ user.username }}</em>
					<a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span></a>
				</div>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
                {% endif %}
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </nav>
			{% if user.is_authenticated %}
				
			{% else %}
				<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}   
        </div>
	</head>
	<body>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	
		<div class="signature">
			{% block sign %}
			{% endblock %}
		</div>
    </body>
</html>