<html>
    <head>
        <title>Dalin's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dalin's blog</a></h1>
        </div>

       {% for post in posts %}
		<div>
			<p>published: {{ post.published_date }}</p>
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
		{% endfor %}
		
		<div>
			<p>
			{% load static %}
			<img src="{% static "bridge1styear_site\trinity-forc.png" %}" alt="Why isn't this Trinity Force?">
			</p>
		</div>
    </body>
</html>