{% extends 'blog/base.html' %}
{% load static %}
<html>
	{% block content %}
		{% for post in posts %}
			<div class="post">
				
			<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
			<div class="post-date">
				Posted on {{ post.published_date }}
				
				{% if post.approved_comments.count == 0 %}
					• <a href="{% url 'post_detail' pk=post.pk %}">No comments</a>
				{% else %}
					{% if post.approved_comments.count == 1 %}
						• <a href="{% url 'post_detail' pk=post.pk %}">One comment</a>
					{% else %}
						{% if post.approved_comments.count > 1 %}
						• <a href="{% url 'post_detail' pk=post.pk %}">{{ post.approved_comments.count }} comments</a>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
			
			{% if post.image %}
			<div class="post-image">
				 <img class="post-image-thumbnail" src="{{ post.image.url }}">
			</div>
			{% endif %}
			
			<p>{{ post.text|linebreaksbr }}</p>			
			</div>
		{% endfor %}
	{% endblock %}
	
	{% block sign %}
	<p>
		<img src="{% static "img\sign.png" %}" alt="Dalin, but smoother.">
	</p>
	{% endblock %}
	
</html>