{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
		<div class="post-buttons">
			{% if user.is_authenticated and post.published_date == null %}
				<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}"><span class="glyphicon glyphicon-check"></span></a>
			{% endif %}
			{% if user.is_authenticated %}
				<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
				<a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon glyphicon-trash"></span></a>
			{% endif %}
		</div>
		
		<div class="post-title">
			<h2>{{ post.title }}</h2>
		</div>
		
		{% if post.published_date %}
		<div class="post-date">
			<p>Posted on {{ post.published_date }} by {{ post.author }}</p>
		</div>
		{% endif %}
		
		{% if post.image %}
		<div class="post-image">
			<img class="post-image-thumbnail" src="{{ post.image.url }}">
		</div>
		{% endif %}
		
        <p>{{ post.text|linebreaksbr }}</p>	
    </div>
	
	<hr>
		<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="glyphicon glyphicon glyphicon-comment"></span> Add a comment</a>
		{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
		<div class="comment">
			{% if not comment.approved_comment %}
			<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
			<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
			{% endif %}
			
			<div class="comment-date" font-size=75%>
				{{ comment.created_date }}	
			</div>
			<strong>{{ comment.author }} </strong>said:
			<p>{{ comment.text|linebreaks }}</p>
		</div>
		{% endif %}
		
		{% empty %}
		<br></br><p>No comments here yet.</p>
		{% endfor %}
{% endblock %}